<footer class="cell grid-x align-justify align-middle">
  <!-- TODO link the logo and the name -->
  <div class="cell small-12 medium-shrink grid-x left-section">
    <a class="cell grid-x" href="{{site.url}}">
      <div class="cell shrink logo-wrapper">
        {%- include dio-logo.svg -%}
      </div>
      <div class="cell shrink">
        <span>Dzgn.IO</span>
      </div>
    </a>
  </div>
  <div class="cell small-12 medium-shrink right-section">
    <span>Connect:</span>
    {% include external-link.html css-class="social" link="https://www.linkedin.com/company/dzgnio" content="LinkedIn" %}
    {% include external-link.html css-class="social" link="https://twitter.com/Dzgn_io" content="Twitter" %}
    {% include external-link.html css-class="social" link="https://www.instagram.com/dzgnio/" content="Instagram" %}
  </div>
</footer>
