<footer class="cell grid-x align-justify">
  <div class="cell">
    {%- include dio-logo.svg -%}
    <p>Dzgn.IO</p>
  </div>
  <div class="cell">
    <p>Connect</p>
    {% include external-link.html css-class="social" link="https://instagram.com/naher94" content="LinkedIn" %}
    {% include external-link.html css-class="social" link="https://instagram.com/naher94" content="Twitter" %}
    {% include external-link.html css-class="social" link="https://instagram.com/naher94" content="Instagram" %}
  </div>

</footer>
